.banner {
    text-align: center;
    padding: 10px 0;
    background: #212121;
}

.banner h1 {
    color: #fff;
}

.total-expenditures {
    background: #C8E6C9;
}

.active-employees {
    background: #BBDEFB;
}

.inactive-employees {
    background: #E0E0E0;
    ;
}