.add-employee-form {
    background: #fff;
}

.total-expenditures {
    background: #424242;
    text-align: center;
}

.active-employees {
    background: #fff;
}

.inactive-employees {
    background: #fff;
}

.edit-form {
    background: #fafafa;
}

.active-employees md-card {
    background: #E3F2FD;
}

.inactive-employees md-card {
    background: #EEEEEE;
}

h1 {
    color: #0D47A1;
}

h4 {
    margin: 5px 0;
}

.total-expenditures h1 {
    color: #fff;
}