.add-employee-form {
    background: #fff;
}

.total-expenditures {
    background: #fff;
    text-align: center;
}

.active-employees {
    background: #fff;
}

.inactive-employees {
    background: #fff;
}